body {
  font-family: 'Montserrat', sans-serif;

}

.controlPanel {
  position: fixed;
  top: 0px;
  left: 0px;
  //padding-left:5px;
  //padding-top: 5px;
  background-color: white;
}
.control {
  float: left;
  margin: 5px;
  color: red;
  cursor: pointer;
}

#play {
  display: none;
}

.tippy-tooltip.nilnil-theme {
  /* Your styling here. Example: */
  background-color: red;
  border: 2px solid red;
  font-size: 11px;
}

.tippy-popper[x-placement^=right] .tippy-arrow {
  border-right: 7px solid red;
}
